<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= cond do %>
      <% assigns[:op] -> %>
        <meta name="description" content="Smiley's post: <%= assigns[:op].title %>">
      <% assigns[:room] -> %>
        <meta name="description" content="<%= assigns[:room].name %>: <%= assigns[:room].description %>">
      <% true -> %>
        <meta name="description" content="This is a place to have discussions and share knowledge.">
    <% end %>

    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" href="/favicon.ico?v=1" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>
      <%= if assigns[:title] do %>
        <%= assigns[:title] %>
      <% else %>
        Smiley's Tavern. Welcome in
      <% end %>
    </title>

    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>

    <%= if assigns[:user] do %>
      <meta name='user_name' content="<%= assigns[:user].name %>">
    <% end %>

    <meta name="_csrf_token" content="<%= get_csrf_token() %>">

    <%= if assigns[:subscriptions] do %>
      <script>
        var subscriptions = [<%= for subscription <- assigns[:subscriptions] do 
          raw ("'" <> subscription.roomname <> "',")
        end %>]
      </script>
    <% end %>
    <%= if assigns[:mystery_token] do %>
      <script>
        var mystery_token = '<%= assigns[:mystery_token] %>'
      </script>
    <% end %>
  </head>



  <body>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <div class="container">
      <header class="header">
        <h1><a href="/"><img class="logo" src="/images/smileys_logo.svg" /></a></h1>

        <div id="search"></div>

        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if assigns[:user] do %>
              <li><a href="/room/new">Create a Room</a></li>
              <li><a href="/u/<%= assigns[:user].name %>"><%= assigns[:user].name %></a></li>
              <li><%= SmileysWeb.Coherence.ViewHelpers.signout_link(@conn, "Log out") %></li>
            <% else %>
              <li><a href="/sessions/new">Sign in</a></li>
              <li><a href="/registrations/new">Register</a></li>
            <% end %>
          </ul>
          <a href="javascript:void(0)" class="menu-toggle"></a>
        </nav>
      </header>
      <div class="sub-header">
        <a href="/h/all">/h/all</a>&nbsp;&nbsp;
        <a href="/h/walloffame">/h/all</a>&nbsp;&nbsp;
        <a href="/r/news">/r/news</a>&nbsp;&nbsp;
        <a href="/r/crypto">/r/crypto</a>&nbsp;&nbsp;
        <a href="/r/roboticsfeed">/r/roboticsfeed</a>&nbsp;&nbsp;
        <a href="/r/philosophy">/r/philosophy</a>&nbsp;&nbsp;
        <a href="/r/architecture">/r/architecture</a>&nbsp;&nbsp;
        <a href="/r/aboutsmileys">/r/aboutsmileys</a>&nbsp;&nbsp;
        <a href="/r/smileysupdates">/r/smileysupdates</a>&nbsp;&nbsp;
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <p class="alert-temp" role="alert"></p>

      <main role="main" class="main-content">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("js/app").App.run()</script>
  </body>
</html>
