use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :smileys, Smileysweb.Web.Endpoint,
  secret_key_base: "secretkeybase"

# Configure your database
config :smileys, Smileysweb.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "username",
  password: "password",
  database: "databasename",
  pool_size: 15

# Emailer Settings
config :smileys, Smileys.Mailer,
  adapter: Bamboo.SMTPAdapter,
  server: "smtp.domain",
  port: 1025,
  username: "emailuser",
  password: "emailpass",
  tls: :if_available, # can be `:always` or `:never`
  ssl: false, # can be `true`
  retries: 1

# TODO: change to dns (A record to: search.smileys.pub) and maybe load balanced
config :giza_sphinxsearch,
  host: 'searchserver.com',
  port: 999999

# Captcha Settings
config :recaptcha,
    public_key: "publickey",
    secret: "secretkey"

# Configure your database
config :smileysdata, SmileysData.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "username",
  password: "password",
  database: "database",
  hostname: "hostname.com",
  pool_size: 20