{
	"smileys@servername1.com": 
	{
		"version": "0.0.2",
		"name": "smileys",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},
	"smileys@servername2.com": 
	{
		"version": "0.0.2",
		"name": "smileys",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},
	"smileys@servername3.com": 
	{
		"version": "0.0.2",
		"name": "smileys",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},
	"smileys@servername4.com": 
	{
		"version": "0.0.2",
		"name": "smileys",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},

	"smileysapi@apiservername1.com":
	{
		"version": "0.0.1",
		"name": "smileysapi",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},
	"smileysapi@apiservername2.com":
	{
		"version": "0.0.1",
		"name": "smileysapi",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},

	"smileyscaretaker@caretakerserver1.com":
	{
		"version": "0.0.1",
		"name": "smileyscaretaker",
		"dir": "/home/ubuntu/",
		"cookie": "somesharedcookie"
	},

	"sphinx":
	{
		"name": "sphinxsearch",
		"files": "sphinx.conf",
		"dir": "/home/ubuntu/"
	}
}