use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :smileysapi, Smileysapi.Web.Endpoint,
  secret_key_base: "secretkeybase"

config :smileys_graph,
  user: "user",
  password: "password",
  connection: {:db, "smileys"}

# Configure your database
config :smileysapi, Smileys.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "user",
  password: "password",
  database: "database",
  hostname: "host.com",
  pool_size: 20
